* { margin: 0; padding: 0; } 

html { overflow-x: hidden; } 

.clear { clear: both; } 

a { text-decoration: none; } 

#wrap { width: 1000px; margin: 0 auto; position: relative; /*border: solid 1px red; */}

a { text-decoration: none; } 

header { display: flex; border-bottom: 0.5px solid #9F8338; margin-bottom: 1%; /*10px*/
 justify-content: space-between; } 

header #top-menu { width: 250px; position: relative; top: 18px; left: 700px; } 

header #top-menu a { font-size: 0.75em; /*12px*/
 color: #CEC2A0; } 

/* header #top-menu a:hover { font-weight: 600; }  */


header #main-menu { position: relative; top: 65px; margin-top: 1%; /*10px*/
 margin-left: 22px; /*12px*/
 width: 100%; } 

header #main-menu a { font-size: 14px /*14px*/}

header ul { display: flex; list-style-type: none; } 

header ul img { width: 13px; margin-right: 2px; } 

header ul li { margin: 1px; } 

header ul li:hover { border-bottom: 2px solid #836826; } 

header a { text-decoration: none; color: #715714; font-weight: 350; } 

.logo img { width: 125px; position: relative; top: 3px; left: 5px; } 



.main-img { position: relative; display: flex; flex-flow: column; justify-content: center; align-items: center; } 

.main-img img { width: 950px; height: 342px; } 

.main-img p { position: relative; bottom: 300px; line-height: 30px; color: #624C11; } 

@media (max-width:768px){
 #wrap {
 margin: 0 auto; /* border: solid 1px red; */}

 header { display: flex; border-bottom: 0.5px solid #9F8338; margin-bottom: 1%; /*10px*/
 justify-content: center}

 header #top-menu { width: 100%; position: relative; top: 15px; left: 276px; } 

 header #main-menu { position: relative; top: 20px; right: 480px; flex-direction: row; margin-top: 1%; /*10px*/
 margin-left: 4px; /*12px*/
 width: 100%; } 

 .logo img { width: 60px; position: relative; top: 5px; left: 4px; } 

 header ul li { margin: 2px; } 

 header ul img { width: 10px; margin-right: 1px; } 

 header #main-menu a { font-size: 6px; /*14px*/} 
 }
@media only screen and (min-width: 768px) and (max-width: 1024px) { header { width: 100%; } 

 header #top-menu { width: 100%; left: 600px; } 

 header #main-menu { width: 100%; position: relative; top: 60px; right: 110px; } 

 header #main-menu a { font-size: 14px; /*14px*/
 width: 100%; } 

 header #main-menu li { width: 135px; } 


 header ul li { margin: 1px;} 
 }
/*---------------------------------------------------------------------------------*/
.section-1-text { color:#624C11; float: left; padding: 50px; } 
.section-1-text h2 { margin-bottom: 20px; } 

@media (max-width:768px){
 .section-1-text { padding: 20px; font-size: 13px; position: relative; top: 80px; } 
 .section-1-text h2 { margin-bottom: 20px; } 
 }

@media only screen and (min-width: 768px) and (max-width: 1024px){
 .section-1-text { padding: 30px; } 
 }
/*---------------------------------------------------------------------------------*/
aside { width: 238px; height: 230px; background-color: #9F8338; border-radius: 13px; /* box-shadow: 0px 3px 10px #4c3f1d; */
 float: right; } 

aside .white-circle { width: 23px; height: 23px; background-color: white; border-radius: 20px; position: relative; top: 17px; left: 17px; } 
aside nav { padding-top: 30px; } 
aside ul { list-style-type: none; } 

aside ul li { margin: 20px; } 

aside ul li a { color: white; font-size: 17px; } 

aside ul li a:hover { color: #726030; } 
aside .this { font-weight: bold; } 

@media (max-width:768px) { aside { width:500px; height: 80px; clear: both; position: relative; right: 500px; bottom: 100px; background-color: #9F8338; border-radius: 13px; } 

 aside .white-circle { width: 13px; height: 13px; position: relative; top: 17px; left: 17px; } 

 aside nav { padding-top: 10px; padding-left: 60px; } 

 aside ul { list-style-type: none; display: flex; } 

 aside ul li { margin: 10px; } 
 
 aside ul li a { color: white; font-size: 14px; } 
 }

@media only screen and (min-width: 768px) and (max-width: 1024px) { aside { position: relative; right: 150px; } 
 }
/*---------------------------------------------------------------------------------*/
.quiz-section h3 { width: 100%; font-size: 15px; font-weight: bold; color:#624C11; border-bottom: 0.5px solid #9F8338; padding: 6px; } 

.quiz-section h2 { font-size: 22px; color:#624C11; margin-top: 30px; margin-bottom: 50px; } 

.quiz-section .quiz-content { display: flex; flex-flow: column; justify-content: center; align-items: center; } 

.quiz-section .quiz-content input { margin: 20px; } 

.quiz-section button { margin-top: 20px; width: 118px; height: 42px; background-color: #9F8338; border: 1px solid #9F8338; border-radius: 9px; transition: transform 0.3s; } 

.quiz-section button a { color: white; transition: transform 0.3s; } 

.quiz-section button a:active { transform: scale(0.9); } 

.quiz-section button:active { transform: scale(0.9); } 

@media (max-width:768px){
 .quiz-section { margin-top: 50px; } 

 .quiz-section h2 { margin-right: 500px; } 

 form { margin-right: 500px; } 

 .quiz-section button { margin-right: 500px; } 
 }

@media only screen and (min-width: 768px) and (max-width: 1024px){
 .quiz-section h2 { font-size: 22px; margin-right: 100px; } 
 form { margin-right: 100px; } 
 .quiz-section button { margin-right: 100px; } 
 }

/*---------------------------------------------------------------------------------*/

/*footer*/

footer { width: 100%; height: 176px; background-color: #ECE6D5; margin-top: 30px; position: absolute; left: 0; display: flex; justify-content: space-between; } 

.footer-logo { width: 128px; height: 109px; position: relative; top: 20px; left: 10px; margin-right: 20px; } 

footer .footer-left { display: flex; padding-left: 20px; } 

footer .footer-left ul { list-style-type: none; } 

footer .footer-left li { margin: 7px; color: #9F8338; position: relative; top: 19px; left: 20px; font-size: 0.8rem; font-weight: 400; } 

footer .footer-right { display: flex; color: #9F8338; flex-flow: column; margin-top: 20px; padding-right: 30px; } 

footer .tell { width: 19px; height: 18px; margin: 10px; position: relative; right: 32px; top: 18px; } 

footer .footer-right h3 { position: relative; bottom: 10px; } 

footer .footer-right span { font-size: 14px; font-weight: 400; } 

footer .sns { display: flex; list-style-type: none; position: relative; left: 38px; } 

footer .sns img { width: 29px; margin: 8px; } 

@media (max-width:768px){
 .footer-logo { width: 80px; height: 76px; top: 40px; } 

 footer .footer-left li { margin: 7px; color: #9F8338; position: relative; top: 14px; left: 1px; font-size: 11px; font-weight: 400; } 

 footer .footer-right { display: flex; color: #9F8338; flex-flow: column; margin-top: 20px; padding-right: 0px; } 

 footer .footer-right h3 { position: relative; bottom: 10px; font-size: 10px; } 
 footer .sns { display: flex; list-style-type: none; position: relative; left: 1px; } 
 
 footer .sns img { width: 29px; margin: 8px; } 
 }